body{
    background-color: rgb(0, 0, 0);  
    position: static;

}

div{
    height: 100vh;
    width: 95.8vw;

}

#home{
    background-color: darkolivegreen;
    border: black 40px solid ;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

#abt{
    background-color:darkolivegreen;
    border-left: black 40px solid ;
    
}


#works{
    background-color: darkolivegreen;
    border-left: black 40px solid ;


}

#contact{
    background-color:darkolivegreen;
    border: black 40px solid ;
    border-top: none;
    border-right: none;

}

li{
    float: left;
    border-right: 1px solid white;
}

li:last-child {
    border-right: none;
}

li{
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding:15px 15px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(46, 44, 44);
}

ul{
    list-style-type:none;
    margin: 3;
    padding-left: -1cm;
    padding-top: -2cm;
    overflow: hidden;
    background-color:black;
    position:fixed;
    width: 100%;
}

.circular{
    float: right;
    margin-top: 3cm;
    margin-right: 5cm;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#para{
    text-align: center;
    padding-top: 4cm;
    font-size: 25px;
}

#p{
    color: black; 
    font-size: 20px;
    padding-top: 0cm;
    padding-left: 2cm;
}